body {
  background-size: cover;
  background-image: url("./imgs/clock.jpg");
  color: #6c644f;
}
main {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  margin: 15% auto;
  width: 450px;
  border: 1px solid #eee;
  padding: 0 2em 1em;
  box-shadow: 5px 5px 5px #989898;
  border-radius: 5px;
  text-align: center;
}
div,
hr {
  margin-bottom: 1em;
}
label {
  display: inline-block;
  width: 11em;
}
input,
select {
  margin-left: 1em;
  margin-right: 0.5em;
}
span {
  color: red;
}

#calculate,
#clear {
  width: 100px;
  height: 30px;
  color: white;
  background: #6c644f;
  border: none;
  border-radius: 15px;
}

#calculate:hover,
#clear:hover {
  box-shadow: 0 0 2px #000;
}
